body {
  background-color: darkgreen;
  font-size: 25px;
}

.just-flipped {
  color: red;
  background-color: blue;
}

.unflipped {
  color: red;
  background-color: black;
}

.flipped {
  color: lightgreen;
  background-color: gray;
}

td {
  width: 100px;
  height: 200px;
}

td div {
  height: 100%;
  width: 100%;
}
